.bodyAllSubjectsPage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3SpørgsmålTitle{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-top: 2%;
}

.h3SvarTitle{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    margin-top: 2%;
}