.backButton{
    position: absolute;
    left: 5%;
    top: 8%;
}

.linkedInLinks{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px);
    white-space: nowrap;
    display: inline-block;
    padding: 0.5vw;
    bottom: 2vh;
    right: 3vw;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin: 1vh;
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.linkedInLogo {
    width: 1vw;
    height: auto;
    margin-right: 0.5vw;
    margin-left: 1vw;
}

.GitHubLogo {
    width: 1.3vw;
    height: auto;
    margin-right: 0.5vw;
}