.backButton{
    position: absolute;
    left: 5%;
    top: 8%;
}

.linkedInLinks{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(10px);
    white-space: nowrap;
    display: inline-block;
    padding: 10px;
    bottom: 3%;
    right: 5%;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    margin: 3%;
    display: flex;
    align-items: center;
}

.linkedInLogo {
    width: 20px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
}