<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="stylesheet" href="/HomePages.css">
    <link rel="stylesheet" href="/Fragments.css">
</head>
<body class="bodyHomePage">

<div th:replace="Fragments :: linkedInLinks"></div>

<div th:replace="Fragments :: backButtonHome"></div>

<div class="MainDiv">
    <a href="#" class="MenuATag">
        Alle fag
    </a>

    <a href="#" class="MenuATag">
        Programmering
    </a>

    <a href="#" class="MenuATag">
        Systemudvikling
    </a>

    <a href="#" class="MenuATag">
        Teknologi
    </a>

    <a href="#" class="MenuATag">
        It- Og Forretningsforståelse
    </a>

    <a href="#" class="MenuATag">
        Se alle spørgsmål
    </a>

</div>

</body>
</html>