<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnswerPage</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="stylesheet" href="/AllSubjectsAnswerPage.css">
    <link rel="stylesheet" href="/Fragments.css">
</head>
<body class="bodyAllSubjectsPage">

<div th:replace="Fragments :: linkedInLinks"></div>

<div th:replace="Fragments :: backButtonSecondSemester"></div>

<div class="titleOnPageDiv">
    <h1 th:if="${semesterInt == 1}" th:text="'1. Semester'"></h1>
    <h1 th:if="${semesterInt == 2}" th:text="'2. Semester'"></h1>

    <h2 th:if="${subject == 'AlleFag'}" th:text="'Alle fag'"></h2>
    <h2 th:if="${subject == 'Programmering'}" th:text="'Programmering'"></h2>
    <h2 th:if="${subject == 'SU'}" th:text="'Systemudvikling'"></h2>
    <h2 th:if="${subject == 'Teknologi'}" th:text="'Teknologi'"></h2>
    <h2 th:if="${subject == 'ITF'}" th:text="'It & forretningsforståelse'"></h2>
</div>

<div class="MainDiv" style="align-content: flex-start; justify-content: center">
    <h3 class="h3SpørgsmålTitle">Spørgsmål:</h3>

    <p th:text="${question.question}"></p>

    <h3 class="h3SvarTitle">Svar:</h3>

    <p style="margin-top: 7%" th:text="${question.answer}"></p>

    <form th:action="@{/QuestionsPage/{subject}/{semesterInt}(subject=${subject}, semesterInt=${semesterInt})}" method="get">
        <button class="buttonSeSvar">Næste</button>
    </form>
</div>

</body>
</html>