<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/Styles.css">
  <link rel="stylesheet" href="/HomePages.css">
  <link rel="stylesheet" href="/Fragments.css">
</head>
<body class="bodyHomePage">

<div th:replace="Fragments :: linkedInLinks"></div>

<div class="MainDiv">
  <a th:href="@{/QuestionsPage/{semesterInt}(semesterInt=${1})}" class="MenuATag">
    1. Semester
  </a>

  <a th:href="@{/Menu/{semesterInt}(semesterInt=${2})}" class="MenuATag">
    2. Semester
  </a>

</div>

</body>
</html>