<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="stylesheet" href="/HomePages.css">
    <link rel="stylesheet" href="/Fragments.css">
</head>
<body class="bodyHomePage">

<div th:replace="Fragments :: linkedInLinks"></div>

<div th:replace="Fragments :: backButtonHome"></div>

<div class="titleOnPageDiv">
    <h1 th:if="${semesterInt == 1}" th:text="'1. Semester'"></h1>
    <h1 th:if="${semesterInt == 2}" th:text="'2. Semester'"></h1>

    <h2>
        Vælg oplæsningsmetode
    </h2>
</div>

<div class="MainDiv">
    <a th:href="@{/QuestionsPage/{subject}/{semesterInt}(subject='AlleFag', semesterInt=${semesterInt})}" class="MenuATag">
        Alle fag
    </a>

    <a th:href="@{/QuestionsPage/{subject}/{semesterInt}(subject='Programmering', semesterInt=${semesterInt})}" class="MenuATag">
        Programmering
    </a>

    <a th:href="@{/QuestionsPage/{subject}/{semesterInt}(subject='SU', semesterInt=${semesterInt})}" class="MenuATag">
        Systemudvikling
    </a>

    <a th:href="@{/QuestionsPage/{subject}/{semesterInt}(subject='Teknologi', semesterInt=${semesterInt})}" class="MenuATag">
        Teknologi
    </a>

    <a th:href="@{/QuestionsPage/{subject}/{semesterInt}(subject='ITF', semesterInt=${semesterInt})}" class="MenuATag">
        It- Og Forretningsforståelse
    </a>

    <a th:href="@{/AllQuestionsPage/{semesterInt}(semesterInt=${semesterInt})}" class="MenuATag">
        Se alle spørgsmål
    </a>

</div>

</body>
</html>