<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllSubjects</title>
    <link rel="stylesheet" href="/Styles.css">
    <link rel="stylesheet" href="/QuestionsPage.css">
    <link rel="stylesheet" href="/Fragments.css">
</head>
<body class="bodyAllSubjectsPage">

<div th:replace="Fragments :: linkedInLinks"></div>

<div th:if="${semesterInt==1}" th:replace="Fragments :: backButtonFirstSemester"></div>

<div th:if="${semesterInt==2}" th:replace="Fragments :: backButtonSecondSemester"></div>

<div class="titleOnPageDiv">
    <h1 th:if="${semesterInt == 1}" th:text="'1. Semester'"></h1>
    <h1 th:if="${semesterInt == 2}" th:text="'2. Semester'"></h1>

    <h2 th:if="${subject == 'AlleFag'}" th:text="'Alle fag'"></h2>
    <h2 th:if="${subject == 'Programmering'}" th:text="'Programmering'"></h2>
    <h2 th:if="${subject == 'SU'}" th:text="'Systemudvikling'"></h2>
    <h2 th:if="${subject == 'Teknologi'}" th:text="'Teknologi'"></h2>
    <h2 th:if="${subject == 'ITF'}" th:text="'It & forretningsforståelse'"></h2>
</div>

<div class="MainDiv" style="align-content: flex-start; justify-content: center">
    <h3 class="h3SpørgsmålTitle">Spørgsmål:</h3>

    <p th:text="${question.question}"></p>

    <form action="/AnswerPage" method="post">
        <input type="hidden" name="subjectString" th:value="${subject}">
        <input type="hidden" name="semesterInt" th:value="${semesterInt}">
        <input type="hidden" name="id" th:value="${question.getId()}">
        <input type="hidden" name="subject" th:value="${question.getSubject()}">
        <input type="hidden" name="semester" th:value="${question.getSemester()}">
        <input type="hidden" name="question" th:value="${question.getQuestion()}">
        <input type="hidden" name="answer" th:value="${question.getAnswer()}">
        <button class="buttonSeSvar">Se Svar</button>
    </form>
</div>

</body>
</html>